# meta 标签中的 google-site-verification, baidu-site-verification



  ### meta name="verify-v1"

查看有的网页的源文件时，会发有meta  name="verify-v1"，这是一个Google网站管理员工具的特定元标记，它是被用在你网站的高层页面，以在网站管理员中核实一个网站的所有者。你为这个标记所设置  的"content="的值是由你的网站管理员工具帐户提供的。请注意，这一元标记的content值（包括大小写）必须和你的帐户提供给你的值完全一样，这和你是否从XHTML改变标记为HTML无关，也和你标签的格式是否与你的网页相符无关。 

   ### meta name="google-site-verification"

** 这个也是Google网站管理员工具的特定元标记，与meta name="verify-v1"等效，是最新的元标记。  
 这是google的网站认证代码，也就是证明这个网站的所有者是你。  

 获取以上代码到自己网站上，可以进入  http://www.google.com/webmasters/tools/，将自己网站添加进google网站管理，有利于google的收录。  

 ### meta name="y_key"**  

 meta name="y_key" 是Yahoo站长工具提交sitemap的验证代码。  
 可以进入  http://sitemap.cn.yahoo.com/，将自己网站添加进yahoo站点管理，有利于yahoo的收录。  

 在做网站seo时，向Google和Yahoo正确提交自己的网站sitemap，对网站的网页收录是大有好处的，这是一种简单而实用的网站SEO方法。 



  baidu-site-verification  
  

  这个是百度认证你  [个人网站](http://www.so.com/s?q=个人网站&ie=utf-8&src=wenda_link)  的啊，你登录  [百度站长工具](http://www.so.com/s?q=百度站长工具&ie=utf-8&src=wenda_link)  后台，然后点认证站点，就有相应代码，你把它放到/header前面就可以了